body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {

	color: #660f0f;


    display: grid;
	grid-template-rows: 200px 1fr;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(255, 207, 243);
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: rgb(255, 193, 224);
	

}
.content {
	grid-area: content;
}

img {
	display: block;
	height: 200px;
	width: 278px;
	margin-left:auto;
	margin-right: auto;
  }